[Unit]
Description=Gunicorn instance to serve app
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Project/Deployment
Environment="PATH=/home/ubuntu/Project/Deployment/venv/bin"
ExecStart=/home/ubuntu/Project/Deployment/venv/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 wsgi:app
[Install]
WantedBy=multi-user.target