{% import "bootstrap/wtf.html" as wtf %}
{% extends 'main.html' %}
{% block content %}
<div class="container" style="margin-top: 5%; margin-bottom: 5%;">
  <p id='test'></p>
  <div class='row'>
    <div class='col-3 offset-1'>
      <div class='container-currency' style="margin-bottom: 10px;">
        <div class="flag"><img width="60" height="30" src="{{ url_for('static', filename='icon/EUR.svg') }}"></div>
        <div class="currency">
          <span class='currency-code'>EUR</span>
          <span class="currency-name">Euro</span> 
        </div>
      </div>
      <div class='container-currency'>
        <div class="flag"><img width="60" height="30" src="../static/icon/{{ CURRENCY_SELECTED }}.svg"></div>
        <div class="currency">
          <span class='currency-code'>{{ CURRENCY_SELECTED }}</span>
          <span class="currency-name">{{ CURRENCIES_NAME[CURRENCY_SELECTED] }}</span> 
        </div>
      </div>
    </div>
    <div class='col-1'>
      <p><strong>Lowest</strong><div id='min_date'></div><div id='min_value'></div></p>
    </div>
    <div class='col-1 offset-2'>
      <p><strong>Highest</strong><div id='max_date'></div><div id='max_value'></div></p>
    </div>
    <div class='col-2 offset-2'>
      <a href="{{ url_for('main') }}"><button type="button" class="btn button-option">Return</button></a>
    </div>
  </div>
  <div class="row justify-content-end">
    <span><strong>Last Update {{ DATE_UPDATED }}</strong></span>
  </div>
  <div class='container' style="margin-top: 0%; margin-bottom: 0%;">
    <div class="row">
      <div class='col'>
        <canvas id="chart_currency" width="100%" height="50%"></canvas>
      </div>
    </div>
    <div class='row' style="margin-top: 5%;">
      <div class="col-sm-5 offset-sm-4">
        <button onclick="setYear(this)" id="1" type="button" class="btn button-option">1 Year</button>
        <button onclick="setYear(this)" id="2" type="button" class="btn button-option">2 Year</button>
        <button onclick="setYear(this)" id="3" type="button" class="btn button-option">3 Year</button>
        <button onclick="setYear(this)" id="4" type="button" class="btn button-option">4 Year</button>
        <button onclick="setYear(this)" id="5" type="button" class="btn button-option">5 Year</button>
      </div>
      <div class='col-sm-3'>
        <button id="addPrediction" type="button" class="btn button-option-2">Prediction</button>
        <button id="dropDataset" type="button" class="btn button-option-2">Drop</button>
      </div>
    </div>
  </div>
</div>
<script>
  var timeFormat = 'DD/MM/YYYY';
  var dataPoints = [];
  '{% for key, value in LIST_1.items() %}'
    dataPoints.push({
      x: '{{ key }}',
      y: '{{ value }}'
    })
  '{% endfor %}'
  var MAXMIN = [];
    '{% for key, value in LIST_1_MAXMIN.items() %}'
        MAXMIN.push({
          x: '{{ key }}',
          y: '{{ value }}'
        })
    '{% endfor %}'
    var max_date = MAXMIN[0]['x'];
    var max_value = MAXMIN[0]['y'];
    var min_date = MAXMIN[1]['x'];
    var min_value = MAXMIN[1]['y'];
    document.getElementById('max_date').innerHTML = max_date
    document.getElementById('max_value').innerHTML = max_value
    document.getElementById('min_date').innerHTML = min_date
    document.getElementById('min_value').innerHTML = min_value
  var config = {
      type: 'line',
      data: {
          datasets: [{
              label: 'Time-Series (1 Year)',
              data: dataPoints,
              fill: false,
              backgroundColor: window.chartColors.blue,
              borderColor: window.chartColors.blue,
              pointRadius: 0.7,
              lineTension: 0,
              borderWidth: 1
          }]
      },
      options: {
        // responsive: false,
        // title: {
        //   display: true,
        //   fontSize: 20,
        //   position: 'top',
        //   padding: 15,
        //   text: ''
        // },
        tooltips: {
          mode: 'nearest',
          intersect: false,
        },
        hover: {
          mode: 'index',
        },
        animation: {
          duration: 0
        },
        scales: {
          xAxes: [{
            type: 'time',
            display: true,
						ticks: {
							callback: function(dataLabel, index) {
								// Hide the second label, returning null
								return index % 2 === 0 ? dataLabel : '';
              },
              autoSkip: false,
              maxRotation: 65,
              minRotation: 65
            },
            time: {
              parser: timeFormat,
              tooltipFormat: 'll',
            },
            scaleLabel: {
              display: true,
              labelString: 'Time Series'
            },
            gridLines: {
              display: true,
              drawTicks: true
            }
          }],
          yAxes: [{
            ticks: {
              beginAtZero: false,
              callback : function(value,index,values) {
                return value.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
              }
            },
            gridLines: {
              display: true,
              drawTicks: true,
              drawBorder: true,
            },
            scaleLabel: {
              display: true,
              labelString: '{{ CURRENCIES_NAME[CURRENCY_SELECTED] }}',
            }
          }]
        },
        legend: {
          display: true,
          position: 'top',
        },
      }
  };

  window.onload = function() {
    var ctx = document.getElementById('chart_currency').getContext('2d');
    window.chart = new Chart(ctx, config);
  };

  function setYear(year) {
    var dataPoints= [];
    var MAXMIN = [];
    if (year.id == 1) {
      '{% for key, value in LIST_1.items() %}'
            dataPoints.push({
              x: '{{ key }}',
              y: '{{ value }}'
            })
        '{% endfor %}'
        '{% for key, value in LIST_1_MAXMIN.items() %}'
            MAXMIN.push({
              x: '{{ key }}',
              y: '{{ value }}'
            })
        '{% endfor %}'
    }
    else if (year.id == 2) {
      '{% for key, value in LIST_2.items() %}'
            dataPoints.push({
              x: '{{ key }}',
              y: '{{ value }}'
            })
        '{% endfor %}'
        '{% for key, value in LIST_2_MAXMIN.items() %}'
            MAXMIN.push({
              x: '{{ key }}',
              y: '{{ value }}'
            })
        '{% endfor %}'
    }
    else if (year.id == 3) {
      '{% for key, value in LIST_3.items() %}'
            dataPoints.push({
              x: '{{ key }}',
              y: '{{ value }}'
            })
        '{% endfor %}'
        '{% for key, value in LIST_3_MAXMIN.items() %}'
            MAXMIN.push({
              x: '{{ key }}',
              y: '{{ value }}'
            })
        '{% endfor %}'
    }
    else if (year.id == 4) {
      '{% for key, value in LIST_4.items() %}'
            dataPoints.push({
              x: '{{ key }}',
              y: '{{ value }}'
            })
        '{% endfor %}'
        '{% for key, value in LIST_4_MAXMIN.items() %}'
            MAXMIN.push({
              x: '{{ key }}',
              y: '{{ value }}'
            })
        '{% endfor %}'
    }
    else {
      '{% for key, value in LIST_5.items() %}'
            dataPoints.push({
              x: '{{ key }}',
              y: '{{ value }}'
            })
        '{% endfor %}'
        '{% for key, value in LIST_5_MAXMIN.items() %}'
            MAXMIN.push({
              x: '{{ key }}',
              y: '{{ value }}'
            })
        '{% endfor %}'
    }
    var max_date = MAXMIN[0]['x'];
    var max_value = MAXMIN[0]['y'];
    var min_date = MAXMIN[1]['x'];
    var min_value = MAXMIN[1]['y'];
    document.getElementById('max_date').innerHTML = max_date
    document.getElementById('max_value').innerHTML = max_value
    document.getElementById('min_date').innerHTML = min_date
    document.getElementById('min_value').innerHTML = min_value
    var dataset = {
      label: 'Time-Series (' + year.id + ' Year)',
      data: dataPoints,
      fill: false,
      backgroundColor: window.chartColors.blue,
      borderColor: window.chartColors.blue,
      pointRadius: 0.7,
      lineTension: 0,
      borderWidth: 1
    }
    if (config.data.datasets.length == 1) {
      config.data.datasets.pop();
    }
    else {
      config.data.datasets.shift();
    }
    config.data.datasets.unshift(dataset)
    window.chart.update();
  };

  document.getElementById('addPrediction').addEventListener('click', function() {
    var dataPoints_pred = [];
    dataPoints_pred.push({
      x: dataPoints.slice(-1).map(({x}) => x)[0],
      y: dataPoints.slice(-1).map(({y}) => y)[0]
    })
    '{% for key, value in RESULT.items() %}'
        dataPoints_pred.push({
          x: '{{ key }}',
          y: '{{ value }}'
        })
    '{% endfor %}'
    var dataset_pred = {
      label: 'Time-Series Prediction',
      data: dataPoints_pred,
      fill: false,
      backgroundColor: window.chartColors.red,
      borderColor: window.chartColors.red,
      pointRadius: 0.7,
      lineTension: 0,
      borderWidth: 1
    }
    if (config.data.datasets.length == 1) {
      config.data.datasets.push(dataset_pred)
    }
    window.chart.update();
  });

  document.getElementById('dropDataset').addEventListener('click', function() {
    if (config.data.datasets.length > 1) {
      config.data.datasets.pop();
    }
    window.chart.update();
  });
</script>
{% endblock %}
