{% import "bootstrap/wtf.html" as wtf %}
{% extends 'main.html' %}
{% block content %}
<div class="container" style="margin-top: 5%; margin-bottom: 5%;">
  <h2>Chart</h2>
  <p id="demo"></p>
  <canvas style="margin-top: 5%;" id="chart_currency" width="400" height="200"></canvas>
  <div style="margin-top: 5%; margin-bottom: 5%;">
    <!-- <div id='app'>
      <button v-if='isActive' v-on:click='isActive = !isActive' id="addPrediction" type="button" class="btn btn-primary">Add Prediction</button>
      <button v-else v-on:click='isActive = !isActive' id="removePrediction" type="button" class="btn btn-primary">Drop Prediction</button>
    </div> -->
    <p>
      <div class='row justify-content-end'>
        <div class='col-sm-8'>
          <button id="addYear1" type="button" class="btn btn-primary">1 Year</button>
          <button id="addYear2" type="button" class="btn btn-primary">2 Year</button>
          <button id="addYear3" type="button" class="btn btn-primary">3 Year</button>
          <button id="addYear4" type="button" class="btn btn-primary">4 Year</button>
          <button id="addYear5" type="button" class="btn btn-primary">5 Year</button>
          <button id="addPrediction" type="button" class="btn btn-primary">Prediction</button>
          <button id="dropDataset" type="button" class="btn btn-primary">Drop Dataset</button>
        </div>
        <div class='col-sm-2'>
          <a href="{{ url_for('main') }}"><button type="button" class="btn btn-primary">Return</button></a>
        </div>
      </div>
    </p>
  </div>
</div>
<style>
  canvas {
    -moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
  }
</style>
<!-- <script>
  var app = new Vue({
      el: '#app',
      data: {      
          isActive: true,
          
      }
  });
</script> -->
<script>
  var timeFormat = 'DD/MM/YYYY';
  var dataPoints = [];
  '{% for key, value in LIST.items() %}'
    dataPoints.push({
      x: '{{ key }}',
      y: '{{ value }}'
    })
  '{% endfor %}'
  var config = {
      type: 'line',
      data: {
          datasets: [{
              label: 'Historical 1 Year',
              data: dataPoints,
              fill: false,
              backgroundColor: window.chartColors.blue,
              borderColor: window.chartColors.blue,
              pointRadius: 1,
              lineTension: 0,
              borderWidth: 2
          }]
      },
      // Configuration options 
      options: {
        // responsive: false,
        title: {
          display: true,
          text: 'EUR - {{ CURRENCY_SELECTED }}',
          fontSize: 20,
          position: 'top',
          padding: 15,
        },
        tooltips: {
          mode: 'nearest',
          intersect: false,
        },
        hover: {
          mode: 'index',
        },
        annotation: {
        annotations: [
          {
            drawTime: "afterDatasetsDraw",
            type: "line",
            mode: "vertical",
            scaleID: "x-axis-0",
            value: 3.8,
            borderWidth: 5,
            borderColor: "red",
            label: {
              content: "TODAY",
              enabled: true,
              position: "top"
            }
          }
        ]
      },
        scales: {
          xAxes: [{
            type: 'time',
            display: true,
						ticks: {
							callback: function(dataLabel, index) {
								// Hide the label of every 2nd dataset. return null to hide the grid line too
								return index % 2 === 0 ? dataLabel : '';
              },
              autoSkip: false,
              maxRotation: 65,
              minRotation: 65
            },
            time: {
              parser: timeFormat,
              tooltipFormat: 'll',
            },
            scaleLabel: {
              display: true,
              labelString: 'Date'
            }
          }],
          yAxes: [{
            ticks: {
              beginAtZero: false,
            },
            gridLines: {
              drawBorder: false,
            },
            scaleLabel: {
              display: true,
              labelString: 'Rates',
            }
          }]
        },
        legend: {
          display: true,
          position: 'right',
        },
      }
  };

  window.onload = function() {
    var ctx = document.getElementById('chart_currency').getContext('2d');
    window.chart = new Chart(ctx, config);
  };

  document.getElementById('addYear1').addEventListener('click', function() {
    var dataPoints= [];
    '{% for key, value in LIST.items() %}'
        dataPoints.push({
          x: '{{ key }}',
          y: '{{ value }}'
        })
    '{% endfor %}'
    var dataset = {
      label: 'Historical 1 Year',
      data: dataPoints,
      fill: false,
      backgroundColor: window.chartColors.blue,
      borderColor: window.chartColors.blue,
      pointRadius: 1,
      lineTension: 0,
      borderWidth: 2
    }
    if (config.data.datasets.length == 1) {
      config.data.datasets.pop();
    }
    else {
      config.data.datasets.shift();
    }
    config.data.datasets.unshift(dataset)
    window.chart.update();
  });

  document.getElementById('addYear2').addEventListener('click', function() {
    var dataPoints = [];
    '{% for key, value in LIST_2.items() %}'
        dataPoints.push({
          x: '{{ key }}',
          y: '{{ value }}'
        })
    '{% endfor %}'
    var dataset = {
      label: 'Historical 2 Year',
      data: dataPoints,
      fill: false,
      backgroundColor: window.chartColors.blue,
      borderColor: window.chartColors.blue,
      pointRadius: 1,
      lineTension: 0,
      borderWidth: 2
    }
    if (config.data.datasets.length == 1) {
      config.data.datasets.pop();
    }
    else {
      config.data.datasets.shift();
    }
    config.data.datasets.unshift(dataset)
    window.chart.update();
  });

  document.getElementById('addYear3').addEventListener('click', function() {
    var dataPoints = [];
    '{% for key, value in LIST_3.items() %}'
        dataPoints.push({
          x: '{{ key }}',
          y: '{{ value }}'
        })
    '{% endfor %}'
    var dataset = {
      label: 'Historical 3 Year',
      data: dataPoints,
      fill: false,
      backgroundColor: window.chartColors.blue,
      borderColor: window.chartColors.blue,
      pointRadius: 1,
      lineTension: 0,
      borderWidth: 2
    }
    if (config.data.datasets.length == 1) {
      config.data.datasets.pop();
    }
    else {
      config.data.datasets.shift();
    }
    config.data.datasets.unshift(dataset)
    window.chart.update();
  });

  document.getElementById('addYear4').addEventListener('click', function() {
    var dataPoints = [];
    '{% for key, value in LIST_4.items() %}'
        dataPoints.push({
          x: '{{ key }}',
          y: '{{ value }}'
        })
    '{% endfor %}'
    var dataset = {
      label: 'Historical 4 Year',
      data: dataPoints,
      fill: false,
      backgroundColor: window.chartColors.blue,
      borderColor: window.chartColors.blue,
      pointRadius: 1,
      lineTension: 0,
      borderWidth: 2
    }
    if (config.data.datasets.length == 1) {
      config.data.datasets.pop();
    }
    else {
      config.data.datasets.shift();
    }
    config.data.datasets.unshift(dataset)
    window.chart.update();
  });

  document.getElementById('addYear5').addEventListener('click', function() {
    var dataPoints = [];
    '{% for key, value in LIST_5.items() %}'
        dataPoints.push({
          x: '{{ key }}',
          y: '{{ value }}'
        })
    '{% endfor %}'
    var dataset = {
      label: 'Historical 5 Year',
      data: dataPoints,
      fill: false,
      backgroundColor: window.chartColors.blue,
      borderColor: window.chartColors.blue,
      pointRadius: 1,
      lineTension: 0,
      borderWidth: 2
    }
    if (config.data.datasets.length == 1) {
      config.data.datasets.pop();
    }
    else {
      config.data.datasets.shift();
    }
    config.data.datasets.unshift(dataset)
    window.chart.update();
  });


  document.getElementById('addPrediction').addEventListener('click', function() {
    var dataPoints_pred = [];
    dataPoints_pred.push({
      x: dataPoints.slice(-1).map(({x}) => x)[0],
      y: dataPoints.slice(-1).map(({y}) => y)[0]
    })
    '{% for key, value in RESULT.items() %}'
        dataPoints_pred.push({
          x: '{{ key }}',
          y: '{{ value }}'
        })
    '{% endfor %}'
    var dataset_pred = {
      label: 'Predictive',
      data: dataPoints_pred,
      fill: false,
      backgroundColor: window.chartColors.red,
      borderColor: window.chartColors.red,
      pointRadius: 1,
      lineTension: 0,
      borderWidth: 2
    }
    if (config.data.datasets.length == 1) {
      config.data.datasets.push(dataset_pred)
    }
    window.chart.update();
  });

  document.getElementById('dropDataset').addEventListener('click', function() {
    if (config.data.datasets.length > 1) {
      config.data.datasets.pop();
    }
    window.chart.update();
  });
</script>
{% endblock %}
