{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Exchange</title>
  <link rel='icon' href="{{ url_for('static', filename='icon/LOGO.ico') }}" type='image/icon'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>  
</head>
<body>
  <div class="jumbotron">
    <div class='container'>
      <h1><a href="{{ url_for('main') }}"><img id="logo" width="70" height="40" src="{{ url_for('static', filename='icon/LOGO.ico') }}"></a>Exchange</h1>
    </div>
  </div>
  <div>
    {% block content %}
    {% endblock %}
  </div>
  <div class="jumbotron" style="margin-bottom: 0%;">
    <div class="row">
      <div class="col-5 offset-5">
        <span><strong>Copyright © Exchange</strong></span>
      </div>
      <div class="col-1 offset-1">
        <span><a href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html" style="color: black;"><stron>source</stron></a></span>
      </div>
    </div>
  </div>
</body>
</html>


