{% extends 'main.html' %}
{% block content %}
<div class="container" style="margin-top:30px">
    <div class="row">
  
      <div class="col-sm-3">
          <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
              <h2>Converter</h2>
              <div class="form-row">
                  {{ wtf.quick_form(form, method="POST", role="form", form_type="horizontal") }}
                  <div class="container" style="margin-top:30px">
                      {% if form.is_submitted and result %}
                          <div class="breadcrumb">{{ amount }} {{ from_ }} = {{  result  }} {{ to_ }}</div>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  
      <div class="col-sm-9">
          <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
              <h2>Rates</h2>
              <ins>({{ unit_base }})</ins>
              <ins>{{ date_updated }}</ins>
              <table class="table table-bordered" style="text-align: center;">
                  <thead>
                      <tr>
                          <th style="width: 60%;">Currency</th>
                          <th style="width: 25%;">Rate</th>
                          <th style="width: 15%;">Chart</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for key, value in rates %}
                      <tr>
                          {%  if key != 'EUR' %}
                              <td>{{ key }}</td>
                              <td>{{ value }}</td>
                              <td>
                                <a href="{{ url_for('chart', Unit=key ) }}"><button type="button" class="btn btn-primary">Chart</button></a>      
                              </td>
                          {% endif %}
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
    </div>
{% endblock %}



