{% extends 'main.html' %}
{% block content %}
<style>
    /* * {
      box-sizing: border-box;
    } */
    #myInput {
      background-position: 10px 10px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    
    /* #myTable {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
      font-size: 18px;
    }
    
    #myTable th, #myTable td {
      text-align: left;
      padding: 12px;
    }
    
    #myTable tr {
      border-bottom: 1px solid #ddd;
    }
    
    #myTable tr.header, #myTable tr:hover {
      background-color: #f1f1f1;
    } */
</style>
<div class="container" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="row">
        <div class="col-sm-3">
            <div class="container">
                <h2>Converter</h2>
                <div class="form-row">
                    <!-- {{ wtf.quick_form(form, method="POST", role="form", form_type="horizontal") }}                 -->
                    <form action="" method="POST" class="form" role="form" style="margin-top: 5%;">
                        {{ wtf.form_field(form.amount, class='form-control', placeholder='0') }}
                        {{ wtf.form_field(form.from_, class='form-control') }}
                        {{ wtf.form_field(form.to_, class='form-control') }}
                         <p><input type=submit class="btn btn-primary">
                        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
                    </form>
                    <div style="margin-top: 5%">
                        {% if form.is_submitted and result %}
                        <div class="breadcrumb">{{ amount }} {{ from_ }} = {{  result  }} {{ to_ }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container">
                <h2>Rates</h2>
                <div style="margin-left: 80%;">
                    <ins>({{ unit_base }})</ins>
                    <ins>{{ date_updated }}</ins>
                </div>
                <input type="text" id="myInput" onkeyup="filter()" placeholder="Type for currency...">
                <table id="myTable" class="table table-bordered" style="text-align: center;" >
                    <thead>
                        <tr>
                            <th style="width: 60%;">Currency</th>
                            <th style="width: 25%;">Rate</th>
                            <th style="width: 15%;">Chart</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in rates %}
                        <tr>
                            {%  if key != 'EUR' %}
                            <td>{{ key }}</td>
                            <!-- <td><img size=10 src="{{ url_for('static', filename='icon/{{ key }}.svg') }}"></td> -->
                            <td>{{ value }}</td>
                            <td>
                                <a href="{{ url_for('chart', Unit=key ) }}"><button type="button" class="btn btn-primary">Chart</button></a>      
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="margin-left: 55%;">
                    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function filter() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
</script>
{% endblock %}



