<!DOCTYPE html>
<html>
<style>
  table, th, td {
    border: 0px solid black;
  }
  thead {
    background-color:gold
  }
  div {
    margin-left: 50px;
  }
  select {
    /* width: 10%; */
    /* padding: 16px 20px; */
    /* border: none; */
    /* border-radius: 4px; */
    background-color:gold;
}
</style>
<head>
    <title>FYP - Prediction of currency exchange rate</title>
</head>
<body>
  <h1 style="text-align: center;">Currency Exchange Rate</h1>

  <!-- Rates API -->
  <div>
    <p><ins><strong>Rates</strong></ins></p>
    <small>{{ date }}</small>
    <table>
      <thead>
        <tr>
          <th>Currency</th>
          <th>Rate</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in rates %}
        <tr>
          <td>{{ key }}</td>
          <td style="text-align: end;">{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <small>({{ base }})</small>
  </div>

  <!-- Currency Converter API -->
  <div>
    <p><ins><strong>Converter</strong></string></ins></p>
    <form action="/">
        <!-- {% csrf_token %} -->
        <label for="amount">Amount</label>
        <input id="amount" name="amount" type="text" value="1">
        <label for="from">From</label>
        <select id="from" name="from">
          {% for key, value in rates %}
          <option value="{{ key }}">{{ key }}</option>
          {% endfor %}
        </select>
        <label for="to">To</label>
        <select id="to" name="to">
          {% for key, value in rates %}
          <option value="{{ key }}">{{ key }}</option>
          {% endfor %}
        </select>
        <input type="submit" value=">">
    </form>
  </div>
  {% block content %}
  {% endblock %}
  
</body>
</html>