{% extends 'base.html' %}
{% block content %}
<!-- Currency Converter API -->
  <div>
    <p><ins><strong>Converter</strong></string></ins></p>
    <form action="/converter/">
        <label for="amount">Amount</label>
        <input id="amount" name="amount" type="text">
        <label for="from">From</label>
        <select id="from" name="from">
          {% for key, value in rates %}
          <option value="{{ key }}">{{ key }}</option>
          {% endfor %}
        </select>
        <label for="to">To</label>
        <select id="to" name="to">
          {% for key, value in rates %}
          <option value="{{ key }}">{{ key }}</option>
          {% endfor %}
        </select>
        <input type="submit" value=">">
    </form>
    {{ conversion_rate }}
  </div>
{% endblock %}