{% import "bootstrap/wtf.html" as wtf %}
{% extends 'main.html' %}
{% block content %}
<div class="container" style="margin-top: 5%; margin-bottom: 5%;">
  <h2>Chart</h2>
  <canvas id="chart_currency" width="400" height="200"></canvas>
  <div style="margin-left: 80%; margin-top: 5%; margin-bottom: 5%;">
    <a href="{{ url_for('main') }}"><button type="button" class="btn btn-primary">Return</button></a>
  </div>
</div>
<script>
  var labels_hist = [];
  var data_hist = [];
  '{% for key, value in rates.items() %}'
    labels_hist.push('{{ key }}')
    data_hist.push('{{ value }}')
  '{% endfor %}'
  '{% for key, value in results.items() %}'
    labels_hist.push('{{ key }}')
    data_hist.push('{{ value }}')
  '{% endfor %}'
  var ctx = document.getElementById('chart_currency').getContext('2d');
  var data = {
      type: 'line',
      data: {
          labels: labels_hist,
          datasets: [{
              label: 'Historical Rates',
              data: data_hist,
              fill:false,
              // backgroundColor: 'rgb(30,144,255)',
              // borderColor: 'rgb(30,144,255)',
              // borderWidth: 1,
              // fillColor: 'gba(151,187,205,0.2)',
              // strokeColor: 'rgba(151,187,205,1)',
              // pointColor: "rgba(151,187,205,1)",
              // pointStrokeColor: "#fff",
              // pointHighlightFill: "#fff",
              // pointHighlightStroke: "rgba(151,187,205,1)",
              // lineTension:0.1, 
          }]
      },
      // Configuration options go here
      options: {
        title: {
          display: true,
          text: 'EUR - {{ unit }}',
          fontSize: 15,
          position: 'top',
          padding: 15,
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false,
            },
            gridLines: {
              drawBorder: false,
            },
            scaleLabel: {
              display: true,
              labelString: 'Rates',
            }
          }]
        },
        legend: {
          display: true,
          position: 'right',
        },
        responsive: true,
      }
  };
  var chart = new Chart(ctx, data);
</script>
{% endblock %}
